body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3fffe;
}

header {
    background-color: #2cdd78;
    color: #fff;
    padding: 10px;
    text-align: center;
}
nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #72e4f0;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
}
.header-text {
    margin-top: 20%;
    font-size: 25px;
    color: #1989a4;
    text-align: center;
}
    
.header-text h1 {
    font-size: 50px;
    margin-top: 20px;
}
.header-text h1 span{
    color:#ff004f;
}
section {
    padding: 20px;
}

#careers{
   padding:0;
   margin-bottom: 0%; 
   color: #080808;
   font-size: 20px;
   text-align: center;
}
#contact{
    color: #00090b;

}

footer {
    background-color: #2cdf4a;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}