body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(228, 238, 167);
}
    
h1
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    background-color: rgb(247, 178, 76);
}
div
{
    margin: 0px 80px 0px 80px;
}
a
{
    color:dodgerblue;
}
.b
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
